# jupyter notebook 단축키
## A : 위쪽에 셀 삽입
## B : 아래쪽에 셀 삽입
## X : 해당 셀 삭제
## Z : 삭제할 셀 복구
## ctrl + D : 해당 커서 라인 삭제
## ctrl + A : 해당 셀 전체 선택
## ctrl + Z : 셀 내용 복구
## python에서 주석 처리는 # 여러줄 주석 처리는 '''
## ctrl + / : 한꺼번에 주석처리
## ctrl + Enter : 셀 실행
## shift + Enter : 셀 실행 후 커서 아래쪽으로 이동

In [ ]:
# 파이썬에서 주석처리
# 필기할 내용이 있으면 이렇게 주석처리 하시면 됩니다

In [9]:
'''
여러줄 주석처리 하고 싶을때 사용
나중에 class라는 개념을 배울때 자주 사용됩니다
수업 시간에서는 한줄 주석이 많이 사용되니까 #을 활용해주세요
'''

'\n여러줄 주석처리 하고 싶을때 사용\n나중에 class라는 개념을 배울때 자주 사용됩니다\n수업 시간에서는 한줄 주석이 많이 사용되니까 #을 활용해주세요\n'

# range(start, end, by)
# start에서 시작해서 end까지 by만큼 증가

In [19]:
# 1 ~100 사이의 홀수만 출력
for i in range(1, 100, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [20]:
# 1 ~100 사이의 짝수만 출력
for i in range(2, 100, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

# for문

In [10]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

# 구구단(2단~9단) 만들어보기
## 2 * 1 = 2
## 2 * 2 = 4
## 2 * 3 = 6
## 2 * 4 = 8
## 2 * 5 = 10
## 2 * 6 = 12
## 2 * 7 = 14
## 2 * 8 = 16
## 2 * 9 = 18

In [11]:
for i in range(2, 10):
    for j in range(1, 9):
        print(i, '*', j, '=', i*j)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72

# 피라미드 만들어보기

In [34]:
# HINT
# *을 4번 출력할 경우
print('*'*4)

****

In [33]:
 for i in range(4):
    print(' '*(3-i), "*"*(2*i+1))

    *
   ***
  *****
 *******

# if 문

In [12]:
# 1~100 사이의 짝수 홀수 출력
for i in range(10):
    if i % 2 == 0:
        print(i)

0
2
4
6
8

# list 자료 구조

In [36]:
# [] 대괄호를 통하여 list자료 구조를 선언
odd = [1, 3, 5, 7, 9]

# for문을 이용하여 1~100사이의 홀수를 list안에 담기
odd_100 = [x for x in range(1, 100, 2)]
odd_100

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [46]:
# len() : list의 길이 확인
len(odd_100)

50

In [47]:
# list slicing

# odd_100에서 1~10번째 값만 추출
print('1~10번째:', odd_100[0:10])
print('1~10번째:', odd_100[:10])

# odd_100에서 40~50번째 값만 추출
print('40~50번째:', odd_100[40:50])
print('40~50번째:', odd_100[40:])

# odd_100에서 마지막 값 추출
print('마지막:', odd_100[-1])

1~10번째: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
1~10번째: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
40~50번째: [81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
40~50번째: [81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
마지막: 99

In [62]:
# [start:end:by] 세미콜론 2개를 통한 index slicing
num = [x for x in range(1, 101)]
#num[1:100:2]
num[::-1]

[100,
 99,
 98,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 90,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50,
 49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1]

In [48]:
# append() : list에 값 추가
odd_100.append(101)

# odd_100에 방금 추가한 값 확인해보기
odd_100[-1]

101

In [49]:
# del() : list 값 삭제
# 괄호안에 해당 index를 통하여 접근
del odd_100[-1]

odd_100

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [54]:
# 나이를 넣은 list 생성
random_list = []

# sort() : list 정렬
random_list.sort()
random_list

[1, 2, 4, 5, 8]

# dictionary 자료 구조
## key : value라는 구조로 대응 관계를 표현
## ex) {'name' : '양용준', 'school' : '연세대', 'age' : 'secret'}
## {}를 통하여 표현하고 ,를 통해 구분

In [66]:
dic = {'name' : '양용준', 'school' : '연세대', 'age' : 'secret'}
dic

{'name': '양용준', 'school': '연세대', 'age': 'secret'}

In [69]:
# key를 통하여 value 접근
dic['name']
dic['school']
dic['age']

'secret'

In [77]:
# dictionary에 key, value 추가
dic['alcohol'] = 1
# dic

# value 수정
dic['alcohol'] = 3
dic

{'name': '양용준', 'school': '연세대', 'age': 'secret', 'alcohol': 3}

In [78]:
# del dictionary[key] : key를 통해 key:value 한쌍 지우기
del dic['alcohol']
dic

{'name': '양용준', 'school': '연세대', 'age': 'secret'}

In [83]:
# dictionary key 모음
dic.keys()

# dictionary value 모음
dic.values()

# for문을 통하여 key를 통해 각 key에 해당하는 value 접근
for i in dic.keys():
    print(dic[i])

dict_values(['양용준', '연세대', 'secret'])

In [85]:
# dictionary key,value 모음
dic.items()

# for문을 통하여 key, value 접근
for k, v in dic.items():
    print('key:', k, ', value:', v)

key: name , value: 양용준
key: school , value: 연세대
key: age , value: secret

In [99]:
# 새로운 dictionary 생성
kusitms_21 = {'a':20, 'b':22, 'c':20, 'e':28, 'd':24}
kusitms_21

{'a': 20, 'b': 22, 'c': 20, 'e': 28, 'd': 24}

In [100]:
# sorted(a, key = lambda x : 정렬 기준)

# 나이를 기준으로 정렬
sorted(kusitms_21.items(), key = lambda x : x[1])

[('a', 20), ('c', 20), ('b', 22), ('d', 24), ('e', 28)]

# Set 자료구조
# 집합 : 데이터 분석에서 Set 자료구조를 사용하는 이유는 중복된 값을 제거 해주기 때문

In [107]:
temp = list(kusitms_21.values())
temp2 = list(set(temp))
temp2

[24, 20, 28, 22]

In [108]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}

In [111]:
# intersection : 교집합
set1 & set2
set1.intersection(set2)

set1 & set2 == set1.intersection(set2)

True

In [114]:
# union: 합집합
set1 | set2
set1.union(set2)

set1 | set2 == set1.union(set2)

True

In [123]:
# difference :차집합
set1 - set2
set1.difference(set2)
set1 - set2 == set1.difference(set2)

set2 - set1
set2.difference(set1)
set2 - set1 == set2.difference(set1)

True