### Dictionaries #R: Data.frame에서 "name"

## Data types: Story so far

* Basic types
    - Integers int:  
    ..., -2, -1, 0, 1, 2, 3,...
    - Floating point numbers float:      
    0.05, 3.1415, 2.0, 62.8318, ...
    - Strings str:  
    "hello", ’John Doe’, ...
* Compound data types (data that contains other data):
    - Lists list:  
    [1, 2, 3], [’alice’, ’bob’, 7]
    - Tuple: (1,2,3, "a")
    - Dictionaries dict:
    - others (np.array, tuple, set)

## Problems with lists

Suppose we store and retrieve age of Bob and Alice:

In [20]:
ages = [['bob', 23], ['alice',25], ['Ahn', 20]]

ages[ages[:,1]=="bob"] #This work for R

TypeError: list indices must be integers or slices, not tuple

Have to remember Bob is index 0 and Alice is index 1

*  Not going to work when there are lots of people.
*  Would be much easier to not need to remember.  

Instead use dictionaries

In [1]:
ages = { 'bob': 23, 'alice': 25, 'Ahn':50 } # key:value - dictionary
print(ages['bob'])
print(ages['alice'])

23
25

What are dictionaries?

* Values in a dictionary can be found using a key.
    - Values in a dictionary can be anything.
    - Keys can be anything that is immutable(does not change).
        - e.g., strings, integers, floats, tuples, sets.
* A dictionary uses curly braces: {}

In [112]:
empty_dict = {}
dict1 = {100: 'hundred', 1: 'one', 10: 'ten'}
dict2 = {'bob':['england', -10],
         'alice':['england', -5],
         'mallory': ['usa',100]}

In [3]:
dict3 = {1:{"a":10, "b":20},   2:{"a":50, "b":100}}
dict3[1]["a"]

10

In [4]:
dict3[2]["a"]

50

## Things dictionaries can do

* Dictionaries are mutable. You can change them.
* Keys find associated values quickly.
* Associations between keys and values can be added, deleted and changed.
* Dictionaries are often useful in Python code:
    - Efficiently associate a key with a value.

## Length and missing items

The number of items in a dictionary can be determined using the len() function

In [5]:
print(dict1)
len(dict1)

{100: 'hundred', 1: 'one', 10: 'ten'}

3

Trying to retrieve an item using a key that is not in the
dictionary throws an KeyError:

In [6]:
print(dict1)
dict1[1000] # 1000 is not a key

{100: 'hundred', 1: 'one', 10: 'ten'}

KeyError: 1000

## Keys and values

A list of keys in a dictionary can be found using the .keys() member function:

In [7]:
print(dict1)
print(dict1.keys())

{100: 'hundred', 1: 'one', 10: 'ten'}
dict_keys([100, 1, 10])

Likewise, a list of values in a dictionary can be found using
the .values() member function:

In [8]:
print(dict1.values())

dict_values(['hundred', 'one', 'ten'])

You can also get both together, using the .items() member function:

In [9]:
list(dict1.items())

[(100, 'hundred'), (1, 'one'), (10, 'ten')]

In [114]:
print(dict1.keys())
for i in dict1.keys():
    print("My key is {}, and the corresponding item is {}".format(i, dict1[i]))

dict_keys([100, 1, 10])
My key is 100, and the corresponding item is hundred
My key is 1, and the corresponding item is one
My key is 10, and the corresponding item is ten

In [11]:
print(dict1.items())
for i in dict1.items(): 
    print(i)
    print("My key is {}, and the corresponding item is {}".format(i[0], i[1]))

dict_items([(100, 'hundred'), (1, 'one'), (10, 'ten')])
(100, 'hundred')
My key is 100, and the corresponding item is hundred
(1, 'one')
My key is 1, and the corresponding item is one
(10, 'ten')
My key is 10, and the corresponding item is ten

In [12]:
for mykey, myvalue in dict1.items(): #[(100, 'hundred'), (1, 'one'), (10, 'ten')]
    print("current key is {0} and corresponding value is {1}".format(mykey, myvalue))

current key is 100 and corresponding value is hundred
current key is 1 and corresponding value is one
current key is 10 and corresponding value is ten

## Testing for keys

One can efficiently test if a key is in a dictionary: use the in operator.

In [14]:
print(dict1)
print(100 in dict1)
print(100 in dict1.keys())

{100: 'hundred', 1: 'one', 10: 'ten'}
True
True

## Adding items

In [29]:
dict1[1000] = 'thousand' # adding is the same as data.frame in R
print(dict1)

{100: 'hundred', 1: 'one', 10: 'ten', 1000: 'thousand'}

In [17]:
dict2

{'bob': ['england', -10], 'alice': ['england', -5], 'mallory': ['usa', 100]}

In [26]:
#print(1000 in dict1) # testing for key

dict2['jaeyoun'] = ['korea', 20] # adding item to dict2
print(dict2)

{'bob': ['england', -10], 'alice': ['england', -5], 'mallory': ['usa', 100], 'jaeyoun': ['korea', 20]}

You can add items by using a key that has not been used yet.

## Modifying items

Items can be modified from a dictionary just like in a list:

In [19]:
dict2

{'bob': ['england', -10],
 'alice': ['england', -5],
 'mallory': ['usa', 100],
 'jaeyoun': ['korea', 20]}

In [20]:
dict2['bob'] = ['england', -5]
print(dict2['bob'])

['england', -5]

In [21]:
dict2['bob'][1]=-100
print(dict2)

{'bob': ['england', -100], 'alice': ['england', -5], 'mallory': ['usa', 100], 'jaeyoun': ['korea', 20]}

## Removing items

Similarly, items can be removed from a dictionary using the del operator:

In [27]:
print('jaeyoun' in dict2.keys())
del dict2['jaeyoun']
print(dict2)

True
{'bob': ['england', -10], 'alice': ['england', -5], 'mallory': ['usa', 100]}

## Iterating over items

Two common ways of iterating over the items of a dictionary:

In [28]:
dict1.items()

dict_items([(100, 'hundred'), (1, 'one'), (10, 'ten')])

In [30]:
print(dict1)

for a in dict1.keys():
    print("key={0} and value={1}".format(a, dict1[a]))

{100: 'hundred', 1: 'one', 10: 'ten', 1000: 'thousand'}
key=100 and value=hundred
key=1 and value=one
key=10 and value=ten
key=1000 and value=thousand

In [31]:
for a in dict1:  #try to avoid because it is a bit vague
    print("key={0} and value={1}".format(a, dict1[a]))

key=100 and value=hundred
key=1 and value=one
key=10 and value=ten
key=1000 and value=thousand

In [32]:
for a in dict1.items():
    print("key={0} and value={1}".format(a[0], a[1]))

key=100 and value=hundred
key=1 and value=one
key=10 and value=ten
key=1000 and value=thousand

In [33]:
for a, b in dict1.items():
    print("key={0} and value={1}".format(a, b))

key=100 and value=hundred
key=1 and value=one
key=10 and value=ten
key=1000 and value=thousand

In [34]:
a, b, c = [100, 3, 0] # a=100; b=3; c=0
print(a, b, c)

100 3 0

* Example 1: Write a function that prints key-value pairs of a dictionary.

In [35]:
def print_dic(my_dic):
    for i in my_dic.items():
        print("key = {} and value={}".format(i[0], i[1]))

print_dic(dict1)

key = 100 and value=hundred
key = 1 and value=one
key = 10 and value=ten
key = 1000 and value=thousand

* Example 2: Write a function that takes a list, and returns a dictionary with keys the elements of the list and as
value the number of occurances of that element in the list.

In [36]:
def list_to_dic(my_list):
    my_dic = {}
    n=len(my_list)
    for i in range(n):
        my_dic[i]=my_list[i]
    return my_dic

a = list_to_dic(["apple", "pear", "water"]) 
print(a)

{0: 'apple', 1: 'pear', 2: 'water'}

# Object and class

In [ ]:
# list and dictionary are examples of class
# a={1: "win", 0:"lose"} is an object in the dictionary class. 
# This object has its own function such as items() or keys().
# We can use "Class" to make more classes: 
# once class is defined, we can create object in the defined class.



# 사용자 정의 Object를 만들고 싶다. (내가 만든 함수계산허용)
# Class 는 Object를 만들어 내는 (함수)

In [1]:
def myadd(a,b):
    return a+b
c=myadd(3,5)
print(c)

8

In [46]:
class myfirstclass:
    secret = [3.142, 1.414]
    def mysum(self, a, b):
        temp=a+b
        print('{0}, {1}, {2}'.format(self.secret[0], self.secret[1], temp))
class mysecondclass:
    #secret=[]
    def mysecret(self, c, d):
        self.secret=[c,d]
    def mysum(self, a,b):
        temp=a+b
        print('{0}, {1}, {2}'.format(self.secret[0], self.secret[1], temp))
    def mysum_secret(self, a,b):
        temp1=self.secret[0]
        temp2=self.secret[1]
        temp=temp1+temp2+a+b
        return temp
    
class mythirdclass:
    def __init__(self, a,b):
        self.secret=[a,b]
    def mysum(self, a,b):
        temp=a+b
        print('{0}, {1}, {2}'.format(self.secret[0], self.secret[1], temp))

In [10]:
c1=myfirstclass()

In [11]:
c1.secret # 이미 내장

[3.142, 1.414]

In [12]:
c1.mysum(3, 5)

3.142, 1.414, 8

In [47]:
c2=mysecondclass()

In [48]:
c2.mysecret(3,5) # -> 값 대입 # ==mysecret(c2,3,5)
c2.secret

[3, 5]

In [49]:
c2.mysum_secret(3,5) # 위에꺼 먼저 실행해서 secret을 넣어줘야 함

16

In [20]:
c3=mythirdclass()

TypeError: __init__() missing 2 required positional arguments: 'a' and 'b'

In [21]:
c3=mythirdclass(3,5)

In [22]:
c3.secret

[3, 5]

In [50]:
c3.mysum(3,5)

3, 5, 8

In [5]:
a={1: "win", 0:"lose"} #object in dictionary class
a.items() #<- can be understood as items(a) 
# class has an object and its own function 
#b=[1,2,3]
#b.items()
class dictionary:
    def items(self):
        ^^^^^^^

dict_items([(1, 'win'), (0, 'lose')])

AttributeError: 'list' object has no attribute 'items'

In [6]:
class myfirstclass:
    secret=[3.142, 1.414]
    def mysum(self, a,b):
        return a+b

In [7]:
o1 = myfirstclass()

In [9]:
o1.secret

[3.142, 1.414]

In [10]:
o1.mysum(3, 5)

8

In [51]:
class mysecondclass:
    def mysecret(self, c, d):
        self.secret = [c,d]
    def mysum_secret(self, a, b):
        temp1= self.secret[0]
        temp2= self.secret[1]
        temp = temp1 +temp2+a+b                              
        return temp

In [52]:
o1 = mysecondclass()

In [54]:
o1.mysecret(3,5)

In [55]:
o1.secret

[3, 5]

In [56]:
o1.mysum_secret(3, 5)

16

In [44]:
o2 = mysecondclass()
o2.mysecret(3,5)
o2.mysum_secret(10, 10)

28

In [14]:
class mythird_class:
    def __init__(self, c,d):    
        self.secret = [c,d]
    def mysum_secret(self, a, b):
        temp1= self.secret[0]
        temp2= self.secret[1]
        temp = temp1 +temp2+a+b                              
        return temp

In [16]:
o3 = mythird_class(3.14, 1.414)

In [17]:
o3.secret

[3.14, 1.414]

In [53]:
o3 = mythird_class(100, 200)

In [54]:
o3.mysum_secret(1000, 1000)

2300

In [6]:
def myadd(a,b):
    return a+b

c=myadd(3,5)
print(c)

class myfirstclass:
    secret = [3.142, 1.414]
    def mysum(self, a,b):
        temp = a+b
        print("My secret numbers are {0} and {1}, and your sum is {2}".format(self.secret[0],self.secret[1], temp))

class mysecondclass:
    secret=[]
    def mysecret(self, a,b):
        self.secret=[a,b]
    def mysum(self, a,b):
        temp = a+b
        print("My secret numbers are {0} and {1}, and your sum is {2}".format(self.secret[0],self.secret[1], temp))

class mythirdclass:
    #secret=[]
    def __init__(self, a,b):
        self.secret=[a,b]
    def mysum(self, a,b):
        temp = a+b
        print("My secret numbers are {0} and {1}, and your sum is {2}".format(self.secret[0],self.secret[1], temp))

8

In [8]:
o1 = myfirstclass()
o1.mysum(10,10)

My secret numbers are 3.142 and 1.414, and your sum is 20

In [11]:
o2 = mysecondclass()
o2.mysecret(5,5)
o2.mysum(1,1)

My secret numbers are 5 and 5, and your sum is 2

In [103]:
o4 = mythirdclass("Five", "Three")
o4.mysum(100, 200)

#mysum(50, 10) #Error

My secret numbers are Five and Three, and your sum is 300

* Example 1:

In [ ]:
# 1> a=FourCal() # create class
# 2> a.setdata(5, 8) # use function in the class (set the data)         
# 3> Use more functions
#    a.sum()
#    a.mul()
#    a.sub()
#    a.div()
# 4> Use __init__ do the above without step in 2>

In [59]:
class FourCal:
    def setdata(self, a,b):
        self.unique_numbers = [a,b]
    def sum(self):
        return self.unique_numbers[0]+self.unique_numbers[1]
    def mul(self):
        return self.unique_numbers[0] * self.unique_numbers[1]

In [60]:
o1 = FourCal()
o1.setdata(3,4)
o1.unique_numbers

[3, 4]

In [74]:
o1.sum()

7

In [75]:
o1.mul()

12

In [62]:
o1 = FourCal(100, 200)

TypeError: FourCal() takes no arguments

In [61]:
class FiveCal:
    def __init__(self, a, b):
        self.mynum = [a,b]
    def sum(self):
        print(self.mynum[0]+self.mynum[1])
    def mul(self):
        print(self.mynum[0] * self.mynum[1])
    def length(self):
        print((self.mynum[0]**2+self.mynum[1]**2)**0.5)

In [65]:
o2=FiveCal(100,200)

In [66]:
o2.sum()

300

In [67]:
o2.length()

223.60679774997897

In [70]:
class FourCal:
    def __init__(self, a, b): # 괄호로 먼저 변수들을 받아야 함
        self.mynum = [a,b]
    def sum(self):
        print(self.mynum[0]+self.mynum[1])
    def mul(self):
        print(self.mynum[0]*self.mynum[1])

In [71]:
o2 = FourCal(5, 8)
o2.sum()
o2.mul()

13
40

In [74]:
class FiveCal2(FourCal): # 상속
    pass # 다 받음, 없어도 되나봄...
    def length(self):
        print((self.mynum[0]**2 + self.mynum[1]**2)**0.5)

In [75]:
o2 = FiveCal2(3, 4)
o2.sum()
o2.length()

7
5.0

In [115]:
# 상속 (Inheritance)
# length(5,8)=sqrt(5^2 + 8^2)
class FiveCal(FourCal):
    def length(self):
        print((self.mynum[0]**2 + self.mynum[1]**2)**0.5)

In [78]:
o3 = FiveCal(3, 4)
o3.length()

5.0

In [116]:
o3.sum()

7

* Example 4: Make classes for a rectangle and a triangle

The purpose of this exercise is to create classes for rectangle: a rectangle with width W
, height H, and lower left corner (x0,y0). Provide three methods: __init__ (to initialize the geometric data), area, and perimeter.

In [81]:
class rectangle:
    def __init__(self, W, H, LC):
        self.width = W
        self.height = H
        self.leftc = LC
    def area(self):
        temp = self.width * self.height
        return temp
    def perimeter(self):
        temp = (self.width + self.height)*2
        return temp

In [82]:
r1 = rectangle(10, 5, [0,3])

In [83]:
r1.leftc

[0, 3]

In [84]:
r1.perimeter()

30

* Example 5:

In [86]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname

    def printname(self):
        print(self.firstname, self.lastname)

In [87]:
p1 = Person("Jaeyoun", "Ahn")
p2 = Person("Michael", "Jordan")
p2.printname()

Michael Jordan

In [ ]:
# Create Student Class with additional information (ID)

In [88]:
class Student:
    def __init__(self, fname, lname, sid):
        self.firstname = fname
        self.lastname = lname
        self.ID = sid
    def printname_id(self):
        print(self.firstname, self.lastname, self.ID)

In [89]:
s1 = Student("Jaeyoun", "Ahn", "99328-167")

In [90]:
s1.printname_id()

Jaeyoun Ahn 99328-167

### Use the super() Function

Python also has a super() function that will make the child class inherit all the methods and properties from its parent:

class Student(Person):
  def __init__(self, fname, lname, sid):
    super().__init__(fname, lname)
    self.ID = sid

  def printname(self):
    super().printname()
    print("The above person has ID of", self.ID)

In [99]:
class Student(Person): # 상속
    def __init__(self, fname, lname, sid):
        super().__init__(fname, lname) # 정보를 앞전 함수에 넘겨줌
        self.ID=sid
    def welcome(self):
        super().printname()
        print('The above:',self.firstname, self.lastname, self.ID)

In [100]:
s1 = Student("J", "A", "99")

In [101]:
s1.printname()

J A

In [102]:
s1.welcome()

J A
The above: J A 99

# Lambda function

In [104]:
x = lambda a : a + 10
print(x(5))

15

In [105]:
x(7)

17

In [106]:
def simple_function(a):
    return a+10

In [107]:
simple_function(20)

30

* Why Lambda function?

The power of lambda is better shown when you use them as an anonymous function inside another function.

Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number:

In [108]:
def myfunc(n):
    return lambda a : a * n

In [109]:
mydoubler = myfunc(2)

In [110]:
print(mydoubler(11))

22

In [111]:
mytripler = myfunc(3)
print(mytripler(11))

33

Study string: https://www.w3schools.com/python/python_strings.asp

In [148]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [151]:
a = "Hello,    World!"
print(a.split(","))

['Hello', '    World!']

In [170]:
txt = "We are the so-called \"Vikings\" \n from the north."

In [172]:
print(txt)

We are the so-called "Vikings"
 from the north.

In [173]:
txt

'We are the so-called "Vikings" \n from the north.'