# Lists and loops

A list is the first type of **data structure** that we meet in this course. While "data structure" may sound complicated, is just a collection of data elements (e.g. numbers or strings) that is structured in some way (e.g. by numbering the elements). The list is a sequence, where each element has an index, i.e. its position in the list.

You can create a new list using the square brackets ```[]```, or the ```list()``` function:

In [6]:
list1 = ["first", "second", "third"] # 대괄호
# sequence, array, matrix of data
print(list1)
type(list1)

['first', 'second', 'third']

list

In [1]:
b=(1,2,3) # not a list, tuple
type(b)

tuple

In [7]:
list=list(b) # 형변환
type(list)

list

In [2]:
list2 = list(("a", "b")) #as.matrix as.value
list2

['a', 'b']

In [3]:
list3 = ['cake', 4, 7.9, "apple"]
list3

['cake', 4, 7.9, 'apple']

Properties of lists to remember:
+ Values don't have to be of the same type (see ```list3```)
+ You can modify lists **after** you create them (they are *mutable*)
+ Elements can be **changed, added and deleted**
+ Lists are versatile and are used extensively in typical Python code

## Accessing elements in a list

Just like you did this morning - accessing elements of strings - elements in a list are accessed by their index.

Remember:
+ index by **square brackets```[]```**
+ note how **index starts at zero!**

In [7]:
list1

['first', 'second', 'third']

In [8]:
list1[0:3] # 0,1,2 번째 값 출력
# -3, -2, -1

['first', 'second', 'third']

In [11]:
list1[0]

'first'

negative indexes go back from the end:

In [9]:
list1[-1]

'third'

Trying to access an element in a list that is out of range throws an ```IndexError```; good to know how long the list is ...

In [10]:
len(list1)

3

In [ ]:
list

## Modify your list!

Remember that lists are **mutable**? This means that we can **change**, **add** and **remove** items from a list!

### 1. Changing Items

In [11]:
list2 =[1,2,3]
list2

[1, 2, 3]

In [12]:
list2[0] = 4 # 값 수정

In [13]:
list2

[4, 2, 3]

Assigning to a position past the end of the list also throws an ```IndexError```

In [14]:
list2[3] = 4

IndexError: list assignment index out of range

### 2. Appending and Extending

In [15]:
import math
math.exp(1)

2.718281828459045

In [16]:
list1.append([1,2,3]) # r : append(list1, [1,2,3])

In [17]:
list1

['first', 'second', 'third', [1, 2, 3]]

In [18]:
list1[3]

[1, 2, 3]

In [13]:
list1[1]

'second'

In [14]:
type(list1[1])

str

In [19]:
type(list1[3])

list

In [20]:
list1[3][0]

1

In [21]:
# Example of append function
list2=[1,2,3]
list2

[1, 2, 3]

In [22]:
list2.append(4) # only one argument
list2.append(5)

In [23]:
list2.remove(4)

In [24]:
list2

[1, 2, 3, 5]

In [25]:
list2.append([4,5]) #하나의 원소로 반영
list2

[1, 2, 3, 5, [4, 5]]

In [26]:
list2.append([4]) #1,2,3,[4]
list2

[1, 2, 3, 5, [4, 5], [4]]

If you want to append more than one item, you can use the ```extend ``` function:

In [27]:
list1.extend(["a", "2"])   #list1.append(["a", "2"]) :      ['first', 'second', 'third', [1, 2, 3], ["a", "2"]]

In [28]:
list1

['first', 'second', 'third', [1, 2, 3], 'a', '2']

In [29]:
# make [1,2,3,4,5] using extend fucntion
list2 = [1,2,3]
list2.extend([4,5])

In [30]:
list2

[1, 2, 3, 4, 5]

In [31]:
# make [1,2,3,4,5] using + fucntion
list3= list2+[4,5]
list3

[1, 2, 3, 4, 5, 4, 5]

## Example: 

1> Create a list of [1,2,3,4,5] and name it as "numbers"

2> Use "extend" to extend to a list of [1,2,3,4,5,6,7,8,9,10]

3> replace the last last item with 100

4> Use "append" to extend to a list of [1,2,3,4,5,6,7,8,9,100,200]

In [32]:
numbers = [1,2,3,4,5]

In [33]:
numbers.extend([6,7,8,9,10])

In [34]:
numbers[-1]=100 # numbers[10-1]=100 # 마지막 원소를 100으로 바꿈

In [35]:
numbers.append(200)

In [36]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 100, 200]

### 3. Removing and Inserting Items

Items at arbitrary positions can be removed using the ```del``` statement:

In [37]:
list1 = [1,2,3,4,5,6,7,8]

In [38]:
del(list1[2:4]) #del(list1)

In [ ]:
# use del to create [1,2,5,6,7,8] from list

In [39]:
list1

[1, 2, 5, 6, 7, 8]

Alternatively, you can use the ```pop``` function:

In [40]:
list1.pop() # 가장 마지막 index의 값 제거

8

In [41]:
list1

[1, 2, 5, 6, 7]

In [42]:
list1.pop()

7

In [43]:
list1

[1, 2, 5, 6]

In [44]:
list1.pop(0)

1

In [45]:
list1

[2, 5, 6]

In [46]:
list1 = [11, 12, 14, 15, 16, 17]
list1 # 대체

[11, 12, 14, 15, 16, 17]

```insert``` function: ```insert(index, item)```

In [47]:
list1.insert(2, "10 + 3") # 0:3   
#   (0) a, (1) b, ('2') c (3)      0:2
list1
# index 2 자리에 대입
# 2번째 원소 이후, 0,1,'2' 원소 이전에 삽입

[11, 12, '10 + 3', 14, 15, 16, 17]

In [48]:
list1 = ["a", "b", "c", "d"]
list1.insert(2, "e") # between b and c
list1

['a', 'b', 'e', 'c', 'd']

In [49]:
list2 = [ 1 , 2 ,3 , 4,5,6,7] # make it into [1,2,3 ,5, 4,5,6,7] use insert funciton
list2.insert(3,5)

In [50]:
list2

[1, 2, 3, 5, 4, 5, 6, 7]

note: appending items to the end of the list using ```append``` is more efficient than inserting at the end

### 4. Adding lists = concatenating lists = extending

In [51]:
list1=[1,2]
list2=[3,4]
list3=[5,6]
list4 = list1 + list2 + list3
list4

[1, 2, 3, 4, 5, 6]

### 5. Multiplying lists

Multiplying a list by a number *does not* multiply the elements of the list, but **the whole list**:

(NB: this is specific to sequences. Other data structures have element-wise multiplication as you will see later in the course)

In [52]:
list5 = [1,2,3] * 5 # r : rep(c(1,2,3), 5)
list5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

### Example:

1> Create the list of [1,2,4,5] and name it as "numbers."

2> Change the "numbers" to [1,2,3,4,5] by using the command "insert".

3> Change the "numbers" to [1,3,5] by using the command "pop".

4> Repeat the procedure in 3> by using the command "del".

In [53]:
numbers = [1,2,4,5]

In [54]:
numbers.insert(2,3)

In [55]:
numbers

[1, 2, 3, 4, 5]

In [56]:
numbers.pop(1)

2

In [57]:
numbers.pop(2)

4

In [58]:
numbers

[1, 3, 5]

In [59]:
del(numbers[1])

In [60]:
del(numbers[2])

IndexError: list assignment index out of range

In [61]:
numbers

[1, 5]

## List slicing

A copy of a sublist can be created using the **slice operator** ```list[start:end]```
The element at the index **start is included**, the one at **end is excluded** (remember slicing strings with Fabian this morning?)

Both indices can be ommitted, defaulting to the start and end of the list respectively

In [62]:
list4=[1,2,3,4,5,6,7]
list4[0:5] # 0th부터 4th까지

[1, 2, 3, 4, 5]

In [64]:
len(list4[0:5])
# list4[0:5]

5

In [65]:
list4[4:]

[5, 6, 7]

In [66]:
list4[:6]

[1, 2, 3, 4, 5, 6]

In [67]:
list4[ : ] # all

[1, 2, 3, 4, 5, 6, 7]

to slice in bigger steps, include a stepsize:

In [68]:
list4[0::3] # 간격 두 칸 띄고 세 번째씩

[1, 4, 7]

In [69]:
# odd numbers only
# R : seq(1,7, step=2) -> 1,3,5,7
list4[0::2] # step size = 2

[1, 3, 5, 7]

In [70]:
list4[0:5:2]

[1, 3, 5]

## Example:

You are given "list = [10,20,30,40,50,60,70,80,90,100]".

1> Change the "list" to [20,40,60,80,100].

2> Select [30, 40, 50, 60, 70] in "list" using slicing.

In [71]:
list1 = [10,20,30,40,50,60,70,80,90,100]

In [72]:
list_rev=list1[1::2] # same with [1:10:2]
list_rev

[20, 40, 60, 80, 100]

In [73]:
list_new=list1[2:7]
list_new

[30, 40, 50, 60, 70]

In [74]:
del(list1[1,2]) # Error... index should be single / slice

TypeError: list indices must be integers or slices, not tuple

In [75]:
del(list1[1::2])
list1

[10, 30, 50, 70, 90]

In [76]:
list1[3-1] # 2nd

50

## Tuple:

Tuple is very similar to list except
    * Use () instead of []
    * Cannot change the values

In [77]:
t1 = (1,2,"a","b")
t1[0]=100
print(t1)

TypeError: 'tuple' object does not support item assignment

In [78]:
t1=(10,20,30,40,50)
t1[2]=100 # 특정 index 값 교환 불가 , tuple : more like constant

TypeError: 'tuple' object does not support item assignment

In [79]:
t1=(1,5)

In [82]:
a=(1,2,3,4,5)
a

(1, 2, 3, 4, 5)

In [84]:
list(a)

[1, 2, 3, 4, 5]

In [85]:
L1 = [1,2,"a","b"]
L1[0]=100 # list는 가능
print(L1)

[100, 2, 'a', 'b']

## Set:

Set does not have an order : similar to list and string

In [86]:
s1 = set("Hello") # use {}, list : [], tuple : ()
s1

{'H', 'e', 'l', 'o'}

In [87]:
s1=set([1,2,3])
s2=set([3,4,5])
print(s1|s2) # | means or/union
print(s1 & s2) # & means and/intersection

{1, 2, 3, 4, 5}
{3}

In [88]:
s3 = {1,3,5}
print(s1|s3)
print(s3-s1)

{1, 2, 3, 5}
{5}

In [89]:
s1.add(5)
s1.update([10,11,12])
s1

{1, 2, 3, 5, 10, 11, 12}

Example: 

You are given list2=[110, 105, 110, 104, 107, 120, 107].

Calculate how many unique items in "list2"

In [90]:
list2=[110, 105, 110, 104, 107, 120, 107]
set1 = set(list2)
set1
# unique item -> set

{104, 105, 107, 110, 120}

## Variables and References

NB: in Python, **all variables are references**
The ```=``` operator does not copy an object, it just creates another reference (name) for the *same* object!

In [91]:
list4 = [1, 2, 3, 4, 5, 6, 7]
list4

[1, 2, 3, 4, 5, 6, 7]

In [92]:
list5 = list4 #R과 다름
list50 = list4[:]

In [93]:
print(list50)
print(list5)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]

In [94]:
list4[-1]=100

In [95]:
print(list4)
print(list50) # 항목만 복사
print(list5) # 아예 대입 ... index 값 하나 바꿔도 동시에 수정

[1, 2, 3, 4, 5, 6, 100]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 100]

In [96]:
list4

[1, 2, 3, 4, 5, 6, 100]

In [ ]:
list5.pop()

'apple'

In [ ]:
list5 = list4

In [ ]:
mytuple1 = (1,2,3) #"절대"상수
mytuple2 = mytuple1
mytuple3 = mytuple1[2] # 값 하나만 빼옴
mytuple1[-1] = 300 #create error - 값 변경 불가
#print(mytuple1)
#print(mytuple2)
#print(mytuple3)
print(id(mytuple1))
print(id(mytuple2))
print(id(mytuple3))

2020336075632
2020335368016
1708944464

300

In [99]:
mytuple1 = (1,2,3) #"절대"상수
mytuple2 = mytuple1
mytuple3 = mytuple1[2]
mytuple1[-1] = 300 #create error
#print(mytuple1)
#print(mytuple2)
#print(mytuple3)
print(id(mytuple1))
print(id(mytuple2))
print(id(mytuple3))

TypeError: 'tuple' object does not support item assignment

Check: they both point to the same memory address; i.e. both ```list1``` and ```list5``` **refer** to the same list.

In [100]:
print(id(list5))
print(id(list4))
print(id(list50))

2106631833864
2106631833864
2106631919432

-> if you want to create a new list with the same contents as another list, you need to **copy** it

* Example 1: Copying lists
    
(a) Create a list a with some entries.

(b) Now set b = a

(c) Change b[1]

(d) What happened to a?

(e) Now set c = a[:]

(f) Change c[2]

(g) What happened to a?

Now create a function set_first_elem_to_zero(l) that takes a list, sets its first entry to zero, and
returns the list.
What happens to the original list?

In [139]:
a=[1, 8, 'apple', 5]

In [140]:
b=a

In [141]:
b[1]='banana'

In [142]:
a

[1, 'banana', 'apple', 5]

In [106]:
c=a[:]

In [107]:
c[2]='carrot'

In [108]:
a

[1, 'banana', 'apple', 5]

* Example 2: Write a function that takes a list and an index, and sets the value of the list at the given index to 0.

In [109]:
def func(list, index):
    list[index]=0
    return list

func(a, 2)

[1, 'banana', 0, 5]

### ```range()```

+ One very commonly needed list is the list of consecutive integers (e.g. for looping – more about that in a bit)
+ The built-in ```range([start], end)``` function creates such lists

In [110]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [111]:
myrange = list(range(3, 10))
myrange

[3, 4, 5, 6, 7, 8, 9]

In [112]:
range(3,15)

range(3, 15)

In [113]:
list(range(3,15,2)) #sequence, step =2

[3, 5, 7, 9, 11, 13]

# `For` Loops

When programming, you often want to do the same task for each point in a data set. Some examples:
+ You have the attendance list of the Python course and for each participant, you want to print their department
+ You have two lists, for each item in list A check whether it is also in list B
+ You want to call a function for each element of an array

Notice how the structure of the programming command follows a natural logic: **FOR** each item**:** **DO** some action

In [115]:
tutors = ['Fabian', 'Lea', 'Dimitris', 'Joe', 'Ingolf']

In [116]:
for ttt in [(1,2,3), (4, 5, 6)]:
    print (ttt[0]+ttt[1]+ttt[2])

6
15

In [117]:
list(enumerate(tutors))

[(0, 'Fabian'), (1, 'Lea'), (2, 'Dimitris'), (3, 'Joe'), (4, 'Ingolf')]

In [118]:
tutors=["a", "b"]
print(enumerate(tutors))

<enumerate object at 0x000001EA7D0DD318>

In [119]:
list(enumerate(tutors))

[(0, 'a'), (1, 'b')]

In [121]:
tutors = ['Fabian', 'Lea', 'Dimitris', 'Joe', 'Ingolf']
for name in tutors:
    print(name)
    print(len(name))

Fabian
6
Lea
3
Dimitris
8
Joe
3
Ingolf
6

## Different ways of iterating

### 1. `range()`
`range()` returns a list of plain integers. 
Thus, one way to loop over a sequence is to use `range()` on the length of a sequence -> the returned list are the **indexes** of the sequence. You can then **access each element by index**:

In [122]:
list(range(5))

[0, 1, 2, 3, 4]

In [123]:
for i in range(len(tutors)):
    print(tutors[i])

Fabian
Lea
Dimitris
Joe
Ingolf

### 2. `enumerate()`
`enumerate()` returns a tuple containing a count and the values obtained from iterating over sequence. This is handy if you need both the item a sequence and its index.

In [ ]:
list(enumerate(tutors))

[(0, 'Fabian'), (1, 'Lea'), (2, 'Dimitris'), (3, 'Joe'), (4, 'Ingolf')]

We have seen how `for` loops allow us to easily execute the same statement for each item in a list. But what if we want to **apply different statements, depending on the item?**
In our earlier example, say you want to print the name, but only if it contains the letter i. So now when you initialize the iterator, there are actually 2 different options and we need to check which one is the case:

**if** the name contains the letter i -> **print** the name *--> whiteboard*

These check-points are called **conditionals**; you check whether a condition is met. And the whole concept is referred to as **flow control**, because at these check points, you control "in which direction the programme is going to flow".

In [124]:
for index,name in enumerate(tutors):
    print(index, name)

0 Fabian
1 Lea
2 Dimitris
3 Joe
4 Ingolf

In [ ]:
3==5

False

In [125]:
#10~100 합을 프로그램?
s=0
for i in range(10, 101):
    s=s+i
print(s)    

# S2=10, 13, 16, ..., 100의 합? Hint 8 % 2
# S3=11, 13, 15, 98의합?
# S=12, 15, 18
s1=s2=s3=0
for i in range(10, 101):
    if i%3 ==0:
        s1=s1+i
    elif i%3 ==1:
        s2=s2+i
    else:
        s3=s3+i
print([s1, s2, s3])

5005
[1665, 1705, 1635]

In [64]:
s1=s2=[1,2,3]
print([id(s1), id(s2)])

[2474113110344, 2474113110344]

In [65]:
s1=[100,200,300] #다시정의
print(s1, s2)

[100, 200, 300] [1, 2, 3]

In [82]:
s3=[1,2,3,4]

In [83]:
s4=s3

In [68]:
s4=[100, 200, 300]
print(s3, s4) # s3 수정 안 됨

[1, 2, 3, 4] [100, 200, 300]

In [84]:
s4[1]=[100, 200, 300] 
# 항목 하나만 바꿨을 때 단독 - s3 수정됨, # 항목 전체 다 바꿨을 때는 index 하나 바꿔도 수정 안되고 다시 돌아옴

In [85]:
s3

[1, [100, 200, 300], 3, 4]

In [71]:
s4

[100, [100, 200, 300], 300]

In [72]:
print(s3,s4)

[1, 2, 3, 4] [100, [100, 200, 300], 300]

In [73]:
s3=[1,2,3,4]

In [74]:
s4=s3

In [75]:
s4[1]=[100, 200, 300]

In [76]:
s3

[1, [100, 200, 300], 3, 4]

In [77]:
print(s3,s4)

[1, [100, 200, 300], 3, 4] [1, [100, 200, 300], 3, 4]

# Flow control

### 1. conditionals - keywords

## `if`

use the `if` keyword to check whether a condition is met:

In [197]:
for number in range(8):
    if number % 2 == 0:
        print(number, ' is even')
    print(100)    # 4, 8

0  is even
100
100
2  is even
100
100
4  is even
100
100
6  is even
100
100

use the `else` keyword to specify a statement that is executed when the condition is not true:

## `else`

In [198]:
for number in range(8):
    if number % 2 == 0:
        print(number, 'is even')
    else:
        print(number, 'is odd')

0 is even
1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd

use the `elif` keyword to **check for several conditions**:

## `elif`

In [ ]:
for number in range(8):
    if number % 2 ==0:
        print(number, 'is even')
    elif number == 3:
        print(number, 'is my favourite number!')
    else:
        print(number, 'is odd')

0 is even
1 is odd
2 is even
3 is my favourite number!
4 is even
5 is odd
6 is even
7 is odd

### 2. conditionals - expressions

question: which expressions can you use as condition for an if statement?
+ anything that evaluates to a **boolean value**
+ Boolean values are `True` and `False`

#### e.g. comparison of numeric types

Numeric types can be compared using the comparison operators, which yield True or False The operators are:
    
a < b | a less than b

a > b | a greater than b

a == b | a equal to b

a <= b | a less than or equal to b

a >= b | a greater than or equal to b

In [200]:
a

[1, 'banana', 'apple', 5]

In [201]:
b

[1, 'banana', 'apple', 5]

In [199]:
a<b

False

In [202]:
a>b

False

In [203]:
a==b

True

In [204]:
a<=b

True

In [205]:
a>=b

True

The boolean values `True` and `False` can be combined using the boolean operators **`and`, `or`,** and **`not`**

In [78]:
a = True
b = False

In [79]:
a | b

True

In [80]:
a&3

1

In [81]:
a & 3 <= 4

True

#### e.g. testing for membership

here the keyword is **`in`**

In [15]:
mondaytutors = ["Fabian", "Lea", "Dimitris", "Ingolf"]
alltutors = ["Fabian", "Joe", "Ingolf", "Lea", "Alison", "Matthias", "Michael", "Thanapong", "Peter", 
             "Dimitris", "Sheen", "Chris", "Auro", "Gaurav", "Ope"]

In [210]:
"Lea" in mondaytutors

True

In [211]:
"Ahn" in mondaytutors

False

In [212]:
for tutor in alltutors:
    if tutor in mondaytutors:
        print(tutor)

Fabian
Ingolf
Lea
Dimitris

### Using `for` loops on lists and list comprehensions

You commonly want to create a new list by transforming and filtering an old list:

In [213]:
even_numbers = []
for x in range(10):
    if x % 2 == 0:
        even_numbers.append(x)
even_numbers

[0, 2, 4, 6, 8]

Because this is such a common operation Python also provides a shortcut in form of list comprehensions (they are truely great!)

In [14]:
even_numbers = [x for x in range(10) if x % 2 == 0]
        
even_numbers

[0, 2, 4, 6, 8]

In [16]:
my_monday = [x for x in alltutors if x in mondaytutors]
print(my_monday)

['Fabian', 'Ingolf', 'Lea', 'Dimitris']

* Example 3: Use a for loop to:
        
(a) Print the numbers 0 to 100

(b) Print the numbers 0 to 100 that are divisible by 7

(c) Print the numbers 1 to 100 that are divisible by 5 but not by 3

In [12]:
list1=[]
list1=[x for x in range(0, 101)]
list1

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [17]:
list2=[]
list2=[x for x in range(0, 101) if x%7==0]
list2

[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [24]:
list3=[]
list3=[x for x in range(1, 101) if (x%5==0) & (x%3!=0)]
list3

[5, 10, 20, 25, 35, 40, 50, 55, 65, 70, 80, 85, 95, 100]

* Example 4: Instead of using a for loop, use a while loop to:
        
(a) Print the numbers 0 to 100

(b) Print the numbers 0 to 100 that are divisible by 7

In [26]:
x=0
while x<101:
    print(x) # 100까지 찍히고 증가 : 101 -> loop out
    x=x+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [27]:
x=0
while x<101:
    if x%7==0:
        print(x)
    x=x+1

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

* Example 5: Use a while loop to find the first 20 numbers that are divisible by 5, 7 and 11, and print them Hint:
store the number found so far in a variable.

In [ ]:
#Pseudo-code:

#number found = 0
#x = 11
#while number found is less than 20:
#    if x is divisible by 5, 7 and 11:
#        print x
#        increase number found by 1
#    increase x by 1

In [29]:
list_n=[]
i=0
while len(list_n)<20:
    if (i%5==0) & (i%7==0) & (i%11==0):
        list_n.append(i) # append되는게 len 측정보다 나중이므로 20번째까지 찍고 loop out
    i=i+1
list_n

[0,
 385,
 770,
 1155,
 1540,
 1925,
 2310,
 2695,
 3080,
 3465,
 3850,
 4235,
 4620,
 5005,
 5390,
 5775,
 6160,
 6545,
 6930,
 7315]

*  Example 6: 
    
(a) Write a function is_prime(n) that returns True only if n is prime.

(b) Write a function that returns all primes up to n.

(c) Write a function that returns the first n primes.

In [47]:
def is_prime(n):
    for i in range(2,n):
        if n%i==0:
            return False
        else:
            return True
        
print(is_prime(16))
print(is_prime(17))

False
True

In [56]:
def is_prime1(n):
    for i in range(2, n):
        for j in range(2, i):
            if i%j==0:
                break 
        else:
            print(i)
            
is_prime1(16)

2
3
5
7
11
13

In [53]:
def is_prime3(n):
    for i in range(2, n):
        for j in range(2, i):
            if i%j ==0:
                break
        else:
            return i
        break
is_prime3(16)

2

* Example 7: In Example 6, you wrote a function that prints all primes up to n, and a function that prints the first n
primes. Update these functions such that they return lists instead.

In [52]:
list_p=[]
def is_prime2(n):
    for i in range(2, n):
        for j in range(2, i):
            if i%j ==0:
                break
        else:
            list_p.append(i)
    #list_p.sort()
    return list_p
is_prime2(16)

[2, 3, 5, 7, 11, 13]

* Example 8: Consider having a list with lists as elements, e.g. [[1,3], [3,6]].
Write a function that takes such a list, and returns a list with as elements the elements of the sublists,
e.g. [1, 3, 3, 6].

In [58]:
a=[[1,3], [3,6]]
mylist=[]
for x in range(len(a)):
    mylist.extend(a[x])
    
mylist

[1, 3, 3, 6]

In [59]:
mylist=[1,2]
mylist.append([3,4])
mylist

[1, 2, [3, 4]]

In [60]:
mylist=[1,2]
mylist.extend([3,4])
mylist

[1, 2, 3, 4]

* Example 9: 
    
Write a function that takes a value x and a list ys, and returns a list that contains the value x and all
elements of ys such that all values y in ys that are smaller than x come first, then we element x and
then the rest of the values in ys.

For example, the output of f(3, [6, 4, 1, 7]) should be [1, 3, 6, 4, 7]

In [63]:
#x=3
#ys=[6,4,1,7]

def arrange_f(x, ys):
    myleft=[]
    myright=[]
    for y in ys:
        if y<=x:
            myleft.append(y)
        else:
            myright.append(y)
    ret=myleft+[x]+myright
    return ret

arrange_f(3, [6,4,1,7])

[1, 3, 6, 4, 7]